<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="ServerAssembly" value="../../cache/GeneratedModel.dll"/>
    <add key="HttpAddress_local8999" value="http://10.5.6.1:8999/" />
    <add key="CustomAuth" value="Revenj.Authorization.Auth, Revenj.Authorization"/>
    <add key="User" value="adresar@element.hr" />
    <add key="ProjectID" value="f97ac919-9a3c-452d-88ef-80c4bbe5f721" />
    <add key="ConnectionString" value="server=julije.element.hr;port=5433;database=adresar;user=adresar;password=sigurnasifrazaadresar321234%;encoding=unicode;CommandTimeout=10" />
    <add key="SmtpServer" value="imap.googlemail.com" />
    <add key="SmtpPort" value="993" />
    <add key="SmtpUseSSL" value="true" />
    <add key="SmtpUsername" value="robert@element.hr" />
    <add key="SmtpPassword" value="biljka u pustinji2" />
    <add key="MailToOverride" value="robert@element.hr" />
    <add key="EleMathConnectionString" value="server=adresar.element.hr;port=5433;database=em_60;user=adresar;password=sigurnasifrazaem60" />
    <add key="ArticlesPath" value="/home/robi/projects/em-articles-originals" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment>
      <serviceActivations>
        <!-- REST service-->
        <add relativeAddress="RestApplication.svc"
             service="Revenj.Wcf.RestApplication, Revenj.Wcf" />
        <!-- REST plugins-->
        <!--add relativeAddress="Crud.svc"
             service="Revenj.Features.RestCache.CachingCrudCommands, Revenj.Features.RestCache" /-->
        <add relativeAddress="Crud.svc"
             service="Revenj.Plugins.Rest.Commands.CrudCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Commands.svc"
             service="Revenj.Plugins.Rest.Commands.StandardCommands, Revenj.Plugins.Rest.Commands" />
        <!--add relativeAddress="Domain.svc"
             service="Revenj.Features.RestCache.CachingDomainCommands, Revenj.Features.RestCache" /-->
        <add relativeAddress="Domain.svc"
             service="Revenj.Plugins.Rest.Commands.DomainCommands, Revenj.Plugins.Rest.Commands" />
        <add relativeAddress="Reporting.svc"
             service="Revenj.Plugins.Rest.Commands.ReportingCommands, Revenj.Plugins.Rest.Commands" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
    </modules>
    <components>
      <component type="Revenj.Authorization.PermissionManager, Revenj.Authorization" service="NGS.Security.IPermissionManager, NGS.Security.Interface" />
    </components>
  </autofacConfiguration>
</configuration>
