<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <appSettings>
    <add key="PluginsPath" value="." />
    <add key="ServerAssembly" value="../../../Revenj.Http/cache/GeneratedModel.dll"/>
    <add key="ConnectionString" value="server=julije.element.hr;port=5433;database=adresar;user=adresar;password=sigurnasifrazaadresar321234%;encoding=unicode;CommandTimeout=10" />
    <add key="SmtpServer" value="smtp.googlemail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUseSSL" value="true" />
    <add key="SmtpUsername" value="robert@element.hr" />
    <add key="SmtpPassword" value="biljka u pustinji2" />
    <add key="Mailer.Admin" value="robert@element.hr" />
    <add key="Mailer.From" value="adresar@element.hr" />
  </appSettings>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
    </modules>
  </autofacConfiguration>
</configuration>
