<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="autofacConfiguration" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <appSettings>
    <add key="ServerAssembly" value="..\server\bin\GeneratedModel.dll" />
    <add key="SignalR.CrossDomain" value="true" />
    <add key="ConnectionString" value="server=staging.element.hr;port=5450;database=games;user=gamer;password=igranjeigrica;encoding=unicode;CommandTimeout=10" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
	<customErrors mode="Off" />
  </system.web>
  <autofacConfiguration>
    <modules>
      <module type="Revenj.Wcf.StandardModule, Revenj.Wcf" />
    </modules>
  </autofacConfiguration>
</configuration>
